

.gallery {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
     margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 20px; 
}
.photo-card{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
    
    box-shadow: 0px 4px 4px rgba(24, 48, 48, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff; 
    height: 100%;
}

.photo-img{
    /* display: block; */
    max-width: 100%;
    height: 100%;
    object-fit: cover;
        transition: transform var(--animation-duration) var(--timing-function);
}
.search-form{
    display: flex;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.form-button{
   display: block;
   font-size: 16px;
   font-weight: 700;
   line-height: calc(30 / 16);
   align-items: center;
   text-align: center;
    letter-spacing: 0.10em;
    color: #290669;
   background-color: rgb(248, 248, 248);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(24, 48, 48, 0.2);
    border-color: rgb(111, 224, 224);
    border-radius: 8px;
    padding: 9px 31px;
    margin-left: 20px;
}
.form-input{
    box-shadow: 0px 4px 4px rgba(24, 48, 48, 0.2);
    border-radius: 8px;
    border-color: rgb(111, 224, 224);
    background-color: rgb(248, 248, 248);
}
.load-more{
    font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.10em;
    
   margin: auto;
   
    box-shadow: 0px 4px 4px rgba(24, 48, 48, 0.2);
    border-radius: 8px;
    border-color: rgb(111, 224, 224);
    color: #290669;
    display: flex;
    justify-content: center;
}
.load-more.is-hidden {
    display: none;
}
.info{

text-align: center; 
justify-content: center;
color:black; 
text-decoration: none; 
font-weight: 500;
font-size: 15px;
gap: 10px;
}

.info-item{
margin: auto;
color: #290669;

font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    gap: 10px;
    
}